#hero-container {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
#hero-title {
  font-size: 72px;
  font-weight: 700px;
  line-height: 88px;
  color: #303030;
}
#hero-subtitle {
  font-size: 24px;
  font-weight: 700px;
  line-height: 30px;
  color: #ababab;
}
#hero-image-container {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  width: 100%;
  gap: 20px;
}
#hero-image-container img {
  width: 284px;
}
